/*
Error: Invalid CSS after "    filter: progid": expected ";", was ": DXImageTransf..."
        on line 421 of main_style.scss

416:     -webkit-box-shadow: 3px 3px 4px #000;
417:     box-shadow: 3px 3px 4px #000;
418:     /* For IE 8 *\/
419:     -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
420:     /* For IE 5.5 - 7 *\/
421:     filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
422: }
423: 
424: .loginTable {
425:     border-collapse: collapse;
426: }

Backtrace:
main_style.scss:421
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1278:in `expected'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1208:in `expected'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1203:in `tok!'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:804:in `block in try_declaration'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1254:in `rethrow'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:809:in `try_declaration'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:697:in `block_child'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:689:in `block_contents'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:678:in `block'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:670:in `ruleset'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:696:in `block_child'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:689:in `block_contents'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:41:in `parse'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:414:in `_to_tree'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:294:in `watch'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/plugin.rb:109:in `method_missing'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/home/peter/.rvm/gems/ruby-2.4.0/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/home/peter/.rvm/gems/ruby-2.4.0/bin/scss:23:in `load'
/home/peter/.rvm/gems/ruby-2.4.0/bin/scss:23:in `<main>'
/home/peter/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `eval'
/home/peter/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    filter: progid\": expected \";\", was \": DXImageTransf...\"\A         on line 421 of main_style.scss\A \A 416:     -webkit-box-shadow: 3px 3px 4px #000;\A 417:     box-shadow: 3px 3px 4px #000;\A 418:     /* For IE 8 */\A 419:     -ms-filter: \"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')\";\A 420:     /* For IE 5.5 - 7 */\A 421:     filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');\A 422: }\A 423: \A 424: .loginTable {\A 425:     border-collapse: collapse;\A 426: }"; }
