---
layout: default 
---

<div class="row">
    <div class="col-md-12">
        {% include section_intro.html %}
    </div>

    <div class="col-md-12">

        <div class="image-carousel">
            <div>
                <img src="img/js.jpeg"></img>
            </div>
            <div>
                <img src="img/rails.jpeg"></img>
            </div>
            <div>
                <img src="img/java.png"></img>
            </div>
            <div>
                <img src="img/nodejs.png"></img>
            </div>
            <div>
                <img src="img/javascript.png"></img>
            </div>
            <div>
                <img src="img/reactnative.png"></img>
            </div>
            <div>
                <img src="img/spring5.png"></img>
            </div>
        </div>
    </div>
        
    <div class="col-md-12">
        <!-- {% include section_skills.html %}  -->
        {% include section_workexperience.html %}
        <!-- {% include section_education.html %}  -->
        {% include section_coursera.html %} {% include section_github.html %}
        <!-- {% include section_mobileapps.html %} -->
        {% include section_additionalinfo.html %}
    </div>

    <div class="col-md-3">
        {% include section_stackoverflow.html %}
        <!-- {% include section_blogs.html %} -->
    </div>

</div>

