<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduktion</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Jag heter Peter Andersson, är 53 år och bor i Mackmyra, Valbo, med min familj om sambo och 3 barn.
Jag har ett stort intresse för mitt yrke om spenderar en stor del av min fritid att lära mig nya saker. Det är få miljöer/språk jag inte hunnit titta på. Mina personliga favoriter är Java, Ruby och Javascript på OSX eller Linux, men jag kan även jobba med C#/DotNet även om jag inte är lika uppdaterad där som med  Java/Linux. I Webbmiljö föredrar jag Ruby on Rails, med Javascript på klienten. Alternativt fullstack-ramverk som Meteor. På senare tid har jag börjat göra appar i iOS och Android. Op IOS behärskar jag Swift men inte Objective-C.   

		</div>
		<br>
	</div>
</div>
