<div id="introBubble" class="rounded_panel txt_lightgrey">
    <div class="top-rounded-panel grey-bg">
        <h1 id="user-intro">Introduktion</h1>
    </div>
    <div class="content-rounded-panel">
        <div id="introBlurb">
            <p>Jag heter Peter Andersson och bor i <a target="_blank" href="https://www.google.se/maps/place/60%C2%B038'03.7%22N+16%C2%B057'49.9%22E/@60.6341664,16.9629381,236m/data=!3m1!1e3!4m6!3m5!1s0x0:0x0!7e2!8m2!3d60.6343501!4d16.9638561?hl=sv">Mackmyra, Valbo,</a>                med min familj om sambo och 3 barn (Tjej 13 och Kille 18 bor hemma, Kille 24 har flyttat hemifrån).</p>
            <p>Jag har ett stort intresse för mitt yrke och spenderar en stor del av min fritid att lära mig nya saker. Det är få miljöer/språk jag inte hunnit titta på. Mina personliga favoriter är Java, Ruby och Javascript på OSX eller Linux, men jag kan
                även jobba med C#/DotNet på Windows. I Webbmiljö föredrar jag Ruby on Rails, med JS/Typescript på klienten. Alternativt fullstack-ramverk som Meteor. Jag har även gjort appar i iOS och Android. På IOS behärskar jag Swift men inte Objective-C.</p>

            <p>Jag har jobbat i finansbranschen eller dess närhet i hela mitt vuxna liv, och har stor kunskap om aktie- och derivathandel. Jag har gjort handels-system mot de flesta av världens börser.</p>

            <p>Jag har rest över hela världen, både för jobb och nöjes skull. Bodde bl.a 5 år i vackra Schweiz, och en kortare tid i Madrid.</p>

            <p>Jag är alltid ute efter intressanta jobb, med intressanta, glada och öppna/kommunikativa människor som vill dela med sig av sin kunskap. Avskyr teknik-snobberi och "religiösa" resonemang om programspråk, ramverk och liknande . Jag är absolut
                inte en åtta-till-fem-typ, men heller ingen supermänniska som jobbar dygnet runt (såna finns inte enligt min erfarenhet - eller så blir kvaliteten därefter) Jag förstår att skilja på jobb och privatliv. Idealet är när de båda sammanflätas
                naturligt.
            </p>

            <p>På fritiden spelar jag så mycket golf det bara är möjligt (medlem i <a target="_blank" href="http://www.mackmyragolf.se">Mackmyra GK</a> och <a target="_blank" href="http://www.hogbogk.se">Högbo GK</a>), samt försöker ta hand om hus och familj.
                Jag ser gärna en Brynäs- match om jag kommer åt, båda sönerna har spelat hockey och jag har varit engagerad i <a target="_blank" href="http://www.valbohc.se">Valbo HC</a> (styrelse och lag) under flera år.</p>
        </div>
        <br>
    </div>
</div>