<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Arbetslivserfarenhet</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<!-- <table class="table table-striped table-hover table-condensed">  -->
			<div class="tablesaw-overflow">
				<table cellspacing="5" class="tablesaw tablesaw-swipe" data-tablesaw-mode="columnToggle" data-tablesaw-minimap>

					<tbody>
						{% for role in site.roles %}
						<tr>
							<td colspan="2">
								<b>{{role.employer}}</b>
							</td>
							<td>{{role.description}}</td>
						</tr>
						<tr>

							<td>{{role.start}}</td>
							<td>{{role.end}}</td>
							<td class="tools">{{role.tools}}</td>
						</tr>
						<tr class="spacer">

						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<br>
	</div>
</div>

