<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduktion</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
<p>Jag heter Peter Andersson, är 53 år och bor i Mackmyra, Valbo, med min familj om sambo och 3 barn.</p>
<p>Jag har ett stort intresse för mitt yrke och spenderar en stor del av min fritid att lära mig nya saker. Det är få miljöer/språk jag inte hunnit titta på. Mina personliga favoriter är Java, Ruby och Javascript på OSX eller Linux, men jag kan även jobba med C#/DotNet på Win***s. I Webbmiljö föredrar jag Ruby on Rails, med Javascript på klienten. Alternativt fullstack-ramverk som Meteor. På senare tid har jag börjat göra appar i iOS och Android. På IOS behärskar jag Swift men inte Objective-C. </p>
<p>Jag har jobbat i finansbranshen i hela mitt vuxna liv, och har stor kunskap om aktie- och derivathandel. Har gjort system mot de flesta av världens börser.</p>
<p>Jag är alltid ute efter intressanta jobb, med intressanta människor. Jag är absolut inte en åtta-till-fem-typ. Föredrar produktutveckling före tim-konsulting. Drömprojektet är mobilt med mycket kommunikation och gärna nån koppling till finansiella områden.</p>
		</div>
		<br>
	</div>
</div>
